<!-- ./resources/html/dashboard/settings.html -->
I see the site's text in %s, but would like to see it in
<select name='text_color'>
  <option value="red"   sel_red  > red   </option>
  <option value="green" sel_green> green </option>
  <option value="blue"  sel_blue > blue  </option>
</select>.
<button type='submit'>Save</button>
